<div [style]="{'width':'100%'}">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
</div>
<div class="main">
    <div class="flex justify-content-center align-items-center" [style]="{'margin':'0 5rem'}">
        <div class="title">
            <h2>Setores</h2>
            <p-button 
            (onClick)="show()" 
            label="Novo" 
            icon="pi pi-plus" 
            [style]="{'width':'6.5rem','height':'2.5rem', 'background-color':'#00A77E', 'border-color':'#00A77E'}"/>
        </div>
        <p-table
            [value]="setores"
            [style]="{'margin': '0 2rem'}"
            styleClass="p-datatable-striped"
            currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
            [rowHover]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5, 10, 20]"
            [paginator]="true"  
        >
        <ng-template pTemplate="header">
            <tr>
                <th class="tb-center">Nº</th>
                <th class="tb-center">Nome</th>
                <th class="tb-center">Status</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-setor>
            <tr>
                <td class="tb-center">{{setor.id}}</td>
                <td class="tb-center">{{setor.nome}}</td>
                <td class="tb-center">{{setor.status}}</td>
                <td>
                    <p-button
                        pTooltip="Editar" 
                        tooltipPosition="left"
                        (onClick)="show(setor)" 
                        icon="pi pi-pencil" 
                        [style]="{'width':'2.5rem','height':'2.5rem','margin-right':'0.5rem','background-color':'#00A77E', 'border-color':'#00A77E'}"/>
                    <p-button 
                        pTooltip="Excluir"
                        (onClick)="confirmarDesativacao(setor)" 
                        tooltipPosition="right"
                        icon="pi pi-trash"  
                        [style]="{'width':'2.5rem','height':'2.5rem','background-color':'#00A77E', 'border-color':'#00A77E'}"/>
                </td>
            </tr>
        </ng-template> 
        </p-table>
    </div>
</div>